<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="blobStorage" value="DefaultEndpointsProtocol=[http|https];AccountName=myAccountName;AccountKey=myAccountKey"/>
<!--		<add key="blobStorage" value="DefaultEndpointsProtocol=https;AccountName=dryjuly;AccountKey=ZPD4czVtoZUKkKbORwMsmPl1e5dR8jfjZvFUAp4DII+76TL7S7jBTo/Vh5Tqz4PX5odetkxJ6TEEKtBbNkWnFA=="/>  -->
  
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
